<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="/images/logo.png">
    </div><div class="right">
      <h2 class="vue">Vue.js</h2>
      <h1>
        数据驱动<br>为现代化的 Web 界面而生
      </h1>
      <p>
        <a class="button" href="/guide/">立刻上手</a>
        <a class="button white" href="https://github.com/vuejs/vue" target="_blank">GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>简单</h2>
      <p>使用你早已熟悉的 HTML,CSS,JavaScript 立即上手。分分钟构建应用</p>
    </div>

    <div class="point">
      <h2>灵活</h2>
      <p>简单，轻量的核心库，搭配各种优秀配套插件。轻松解决你所有问题</p>
    </div>

    <div class="point">
      <h2>高效</h2>
      <p>
        16kb min+gzip <br>
        飞一般 Virtual DOM<br>
        对压缩优化的不停追求
      </p>
    </div>
  </div>
</div>

<div id="sponsors">
  <div class="inner">
    <h3>特别赞助</h3>
    <%- partial('partials/sponsors') %>
    <br>
    <a class="become-sponsor button white" href="/support-vuejs/">赞助 Vue</a>
  </div>
</div>

<div id="footer">
  Released under the <a href="https://opensource.org/licenses/MIT" href="_blank">MIT License</a><br>
  Copyright &copy; 2014-<%- new Date().getFullYear() %> Evan You
</div>

<script src="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js"></script>
<script src="/js/common.js"></script>
<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
